/* HEADER */

header {
    background-color: var(--primary-color);

    display: flex;
    justify-content: space-between;

    padding: 20px 0px;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.header-img {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.header-nav-link {
    font-size: var(--font-size-x-small);
    font-weight: bold;

    color: #FFF;
    
    padding: 10px;
}
