/* PÁGINA INICIAL */

.generic-session {
    width: 100vw;
    height: 100vh;

    text-align: left;
}

/* ------- */

/* 1ª SESSÃO - EDUCAÇÃO FINANCEIRA */

#educ-financeira {
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    position: relative;
}

#educ-financeira h1 {
    color: var(--secondary-color);

    font-family: 'Ubuntu', sans-serif;
    font-size: var(--font-size-xxx-large);
    font-weight: 700;

    width: 500px;
}

#educ-financeira h2 {
    color: #000;

    font-size: var(--font-size-x-medium);
    font-weight: 400;

    width: 400px;
}

#educ-financeira-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.educ-financeira-info-item {
    padding: 15px;
}

#educ-financeira-info button {
    font-family: 'Ubuntu', sans-serif;
    font-size: var(--font-size-x-medium);
    font-weight: 400;
    color: var(--secondary-color);
    
    background-color: #FFF;

    border: 0;
    padding: 8px 16px;
    
    border: 1.5px solid var(--secondary-color);
    border-radius: 30px;
}

#educ-financeira-info button:hover {
    background-color: var(--secondary-back-color);
    transition: 0.5s;

    cursor: pointer;
}

#educ-financeira img {
    padding: 5%;
}

.educ-financeira-img {
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 0;
}

/* ------- */

/* 2ª SESSÃO - CURSOS */

#cursos {
    background-color: var(--background-color)
}

.title-cursos {
    display: none;
}

#card-h {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: stretch;

    padding: 60px;
}

.card-cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-cursos strong {
    font-size: var(--font-size-small);
    color: var(--secondary-color);

    padding-top: 50px;
}

.card-cursos p {
    width: 65%;

    font-size: var(--font-size-xx-small);
    font-weight: 300;
    text-align: center;

    padding: 30px 0px;
}

.card-cursos img {
    height: 45%;
}

.card-cursos button {
    font-size: var(--font-size-x-small);
    color: #FFF;

    background-color: var(--secondary-color);
    
    border: 0;
    border-radius: 30px;
    padding: 15px 30px;

    cursor: pointer;
}

.card-cursos button:hover {
    color: var(--secondary-color);
    background-color: var(--secondary-back-color);
    transition: 0.5s;
}

/* ------- */

/* 3ª SESSÃO - O QUE FALAM SOBRE NÓS */

#title-o-que-falam {
    color: var(--primary-color);
    font-family: 'Nunito', sans-serif;
    font-size: var(--font-size-large);
    font-weight: 700;

    position: relative;
    top: 15%;
    left: 6%
}

#card-o-que-falam-h {
    width: 100vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 10%;
}

.card-o-que-falam {
    width: 45%;

    display: flex;
    align-items: center;

    padding: 20px 20px;
}

.card-o-que-falam img {
    width: 50%;

    padding-right: 20px;

    position: relative;
}

.card-o-que-falam-desc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-o-que-falam p {
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: var(--font-size-x-small);
    font-weight: 200;
}

.card-o-que-falam small {
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: var(--font-size-x-small);
    font-weight: bold;
}

/* ------- */

/* 4ª SESSÃO - MAIS CONTEÚDO */

#blog-posts {
    background-color: var(--background-color);

    position: relative;
}

#title-blog-posts {
    color: var(--primary-color);
    font-family: 'Nunito', sans-serif;
    font-size: var(--font-size-large);
    font-weight: 700;

    position: relative;
    top: 10%;
    left: 5%
}

#card-blog-posts-h {
    width: 100vw;

    display: flex;
    justify-content: space-evenly;

    padding-top: 8%;
}

.card-blog-posts {
    display: flex;
    flex-direction: column;

    padding: 0px 50px;
}

.card-blog-posts strong {
    font-size: var(--font-size-small);
    font-weight: 700;
    color: var(--primary-color);

    padding-top: 15px;
}

.card-blog-posts p {
    font-size: var(--font-size-x-small);
    font-weight: 400;
    color: #000;
}

.button-blog-posts {
    display: flex;
    justify-content: center;

    padding-top: 40px;    
}

.button-blog-posts button {
    font-family: 'Ubuntu', sans-serif;
    font-size: var(--font-size-x-medium);
    font-weight: 400;
    color: var(--secondary-color);

    border: 0;
    padding: 8px 30px;
    
    border: 1.5px solid var(--secondary-color);
    border-radius: 30px;
}

.button-blog-posts button:hover {

    background-color: var(--secondary-back-color);
    transition: 0.5s;
    
    cursor: pointer;

}

/* ------- */

/* RESPONSIVO TELAS até 480px */

/* ------- */

@media screen and (max-width: 480px) {

    .show-nav {
        display: block;

        background: 0;
        border: 0;

        position: absolute;

        width: 3rem;

        top: 10px;
        left: 10px;
    }

    .generic-session {
        height: 100%;
    }
    
    .header {
        display: none;
    }

    .footer {
        display: none;
    }

    /* ------- */

    /* 1ª SESSÃO - EDUCAÇÃO FINANCEIRA */

    #educ-financeira {
        flex-direction: column-reverse;
    
        justify-content: space-around;
        align-items: center;
    
        position: relative;

        padding: 20px;
    }
    
    #educ-financeira h1 {
        position:static;

        display:flex;
        flex-direction:column;
        justify-content:center;
        text-align:center;

        font-size: 2.5rem;
    }

    #educ-financeira h2 {
        position:static;
        text-align:center;

        font-size: 1.5rem;
    }

    #educ-financeira-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #educ-financeira-info button {
        position:static;
        text-align:center;

        font-size: 1rem;
    }

    #educ-financeira img {
        width: 75%;
        margin-top: 15%;
        /* não consigo centralizar a imagem */
    }

    /* ------- */

    /* 2ª SESSÃO - CURSOS */

    #card-h {
        height: auto;
        flex-direction: column;
        align-items: center;

        padding: 20px;
    }

    .title-cursos {
        display: block; 

        font-size: 1.4rem;
        color: var(--secondary-color);
        font-weight: 500;
    
        text-align: center;

        padding-bottom: 30px;
    }

    .card-cursos {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;

        padding-bottom: 30px;
    }

    .card-cursos img {
        margin-top: 30px;
    }

    .card-cursos strong {
        font-size: 1.5rem;

        text-align: center;
    }

    .card-cursos p {
        width: 100%;

        font-size: 1rem;
    }

    .card-cursos button {
        font-size: 1rem;
        padding: 0.3rem 0.5rem;
    }

    /* ------- */

    /* 3ª SESSÃO - O QUE FALAM SOBRE NÓS */

    #o-que-falam {
        padding: 20px;
    }

    #title-o-que-falam {
        font-size: 1.5rem;
    }
    
    #card-o-que-falam-h {    
        display: flex;
        flex-direction: column;
    
        padding-top: 20px;
    }
    
    .card-o-que-falam {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    
    .card-o-que-falam img {
        width: auto;
    }

    /* ------- */
 
    /* 4ª SESSÃO - MAIS CONTEÚDO */   

    #blog-posts {
        padding: 20px;
    }

    #title-blog-posts {
        font-size: 2rem;
        text-align: center;

        top: 0;
        left: 0;
    }

    #card-blog-posts-h {
        flex-direction: column;
        justify-content: space-around;
    
        padding-top: 20px;
    }
    
    .card-blog-posts {
        text-align: center;
    
        padding: 10px 0;

        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    
    .card-blog-posts strong {
        font-size: 1.5rem;
    }
    
    .card-blog-posts p {
        font-size: 1.2rem;
    }
    
    .button-blog-posts {
        padding-top: 10px;    
    }
    
    .button-blog-posts button {
        font-size: 1.2rem;
    }

}
    
/* ------- */

/* RESPONSIVO TELAS de 481px a 768px */

/* ------- */

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .generic-session {
        height: 100%;

        padding: 3%;
    }

    /* .header {
        display: none;
    }

    .footer {
        display: none;
    } */

    /* ------- */

    /* 1ª SESSÃO - EDUCAÇÃO FINANCEIRA */
    
    #educ-financeira h1 {
        position: static;

        flex-direction: column;
        justify-content: center;
        text-align: center;

        font-size: 2rem;
    }

    #educ-financeira h2 {
        width: 80%;

        position: static;
        text-align: center;

        font-size: 1.2rem;
    }

    #educ-financeira-info {
        flex-direction: column;
        align-items: center;
    }

    #educ-financeira-info button {
        position:static;
        text-align:center;

        font-size: 1rem;
    }

    #educ-financeira img {
        width: 90%;
    }
    
    /* ------- */

    /* 2ª SESSÃO - CURSOS */

    #cursos {        
        width: 100%;
        padding: 5%;
    }

    #card-h {
        width: 100%;
        height: auto;
        align-items: baseline;

        padding: 0;
    }

    .title-cursos {
        display: block; 

        font-size: 2rem;
        color: var(--secondary-color);
        font-weight: 500;
    
        text-align: center;

        padding-bottom: 2rem;
    }

    .card-cursos {
        justify-content: space-between ;
    }

    .card-cursos strong {
        font-size: 1rem;

        text-align: center;
    }

    .card-cursos p {
        width: 80%;

        font-size: 0.9rem;
    }

    .card-cursos button {
        font-size: 1rem;
        padding: 0.3rem 2rem;
    }
    
    /* ------- */

    /* 3ª SESSÃO - O QUE FALAM SOBRE NÓS */

    #title-o-que-falam {
        font-size: 2rem;
        text-align: center;

        left: 0%;
        padding: 2rem 0;
    }

    #card-o-que-falam-h {
        padding-top: 0;
    }

    .card-o-que-falam {
        flex-direction: column;
    }
    
    .card-o-que-falam img {
        width: auto;
        padding-right: 0;
        padding-bottom: 1rem;
    }
    
    /* ------- */

    /* 4ª SESSÃO - MAIS CONTEÚDO */   

    #blog-posts {
        padding: 20px;
    }

    #title-blog-posts {
        font-size: 2rem;
        text-align: center;

        top: 0;
        left: 0;
    }

    #card-blog-posts-h {
        flex-direction: column;
        justify-content: space-around;
    
        padding-top: 20px;
    }
    
    .card-blog-posts {
        text-align: center;
    
        padding: 10px 0;

        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    
    .card-blog-posts strong {
        font-size: 1.5rem;
    }
    
    .card-blog-posts p {
        font-size: 1.2rem;
    }
    
    .button-blog-posts {
        padding-top: 10px;    
    }
    
    .button-blog-posts button {
        font-size: 1.2rem;
    }

}
    
/* ------- */

/* RESPONSIVO TELAS de 769px a 1024px */

/* ------- */

@media only screen and  (min-width: 769px) and (max-width: 1024px) {

    .generic-session {
        height: 100%;

        padding: 3%;
    }

    /* .header {
        display: none;
    }

    .footer {
        display: none;
    } */

    /* ------- */

    /* 1ª SESSÃO - EDUCAÇÃO FINANCEIRA */
    
    #educ-financeira h1 {
        position: static;

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        font-size: 2.5rem;
    }

    #educ-financeira h2 {
        width: 80%;

        position:static;
        text-align:center;

        font-size: 1.5rem;
    }

    #educ-financeira-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #educ-financeira-info button {
        position:static;
        text-align:center;

        font-size: 1.rem;
    }

    #educ-financeira img {
        width: 75%;
        margin-top: 15%;
    }
    
    /* ------- */

    /* 2ª SESSÃO - CURSOS */

    #cursos {        
        width: 100%;
    }

    #card-h {
        width: 100%;
        height: auto;
        align-items: stretch;

        padding: 0;
    }

    .title-cursos {
        display: block; 

        font-size: 2rem;
        color: var(--secondary-color);
        font-weight: 500;
    
        text-align: center;

        padding-bottom: 2rem;
    }

    .card-cursos {
        justify-content: space-between ;
    }

    .card-cursos strong {
        font-size: 1.5rem;

        text-align: center;
    }

    .card-cursos p {
        width: 80%;

        font-size: 1rem;
    }

    .card-cursos button {
        font-size: 1rem;
        padding: 0.3rem 2rem;
    }
    
    /* ------- */

    /* 3ª SESSÃO - O QUE FALAM SOBRE NÓS */

    #title-o-que-falam {
        font-size: 2rem;
        text-align: center;

        left: 0%;
        padding: 2rem 0;
    }

    #card-o-que-falam-h {
        padding-top: 0;
    }

    .card-o-que-falam {
        flex-direction: column;
    }
    
    .card-o-que-falam img {
        width: auto;
        padding-right: 0;
        padding-bottom: 1rem;
    }
    
    /* ------- */

    /* 4ª SESSÃO - MAIS CONTEÚDO */   

    #blog-posts {
        padding: 20px;
    }

    #title-blog-posts {
        font-size: 2rem;
        text-align: center;

        top: 0;
        left: 0;
    }

    #card-blog-posts-h {
        flex-direction: column;
        justify-content: space-around;
    
        padding-top: 20px;
    }
    
    .card-blog-posts {
        text-align: center;
    
        padding: 10px 0;

        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    
    .card-blog-posts strong {
        font-size: 1.5rem;
    }
    
    .card-blog-posts p {
        font-size: 1.2rem;
    }
    
    .button-blog-posts {
        padding-top: 10px;    
    }
    
    .button-blog-posts button {
        font-size: 1.2rem;
    }

}